allow fingerprintd tee_device:chr_file { read write ioctl open };

allow fingerprintd firmware_file:dir search;
allow fingerprintd firmware_file:file { getattr read open };

# add
allow fingerprintd gx_fpd_data_file:dir create_dir_perms;
allow fingerprintd gx_fpd_data_file:sock_file { create unlink };

allow fingerprintd gx_fpd_device:chr_file rw_file_perms;
